.cb-feature-grid {
	&__title {
		margin: 0;
        text-wrap:initial;
		font-size: var(--fs-h2);
	}

	&__item-title {
		font-size: var(--fs-500);
        font-weight: var(--fw-600);
	}

	&__item-content {
		max-width: 520px;

		p {
			margin-bottom: 0;
		}
	}
}