.hero {
    min-height: calc( 500px + var(--h-top) + 2rem );
    padding-top: var(--h-top);
    position: relative;
    isolation: isolate; 
    margin-bottom: -2px;
    overflow: hidden;
    padding-block: calc( 6rem + var(--h-top) ) 4rem;

    color: #fff;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    &__background--bottom {
        object-position: bottom center;
    }
    &__background--top {
        object-position: top center;
    }
    &__background--center {
        object-position: center center;
    }

    &__content {
        margin-bottom: 1rem;
    }

    .container {
        z-index: 1;
    }

    &__subtitle {
        font-size: var(--fs-500);
        max-width: 60ch;
    }
    &.text-center {
        .hero__subtitle {
            margin-inline: auto;
            max-width: 70ch;
        }
    }

    &__icons {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        justify-content: center;
    }

    &__icon {
        text-align: center;
        flex-basis: calc( 20% - 1.5rem );
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 90px;
            height: 90px;
            display: block;
        }
    }
    &__icon-title {
        font-size: var(--fs-600);
        font-weight: 600;
    }

    &__icon-content {
        font-size: var(--fs-200);
        max-width: 20ch;
        margin: 0;
    }

    &__image-img {
        display: block;
        width: max(300px, 80%);
        margin-inline: auto;
    }
}