.cb_scroll_snap {
    padding-top: 8rem;
    background-color: var(--col-background-blue);
    color: var(--col-white);

    &--constrained {
        max-width: 640px;
        margin-inline-start: 0;
    }
    &--full {
        width: 100%;
        text-align: center;
    }

    h2 {
        font-size: var(--fs-hero-title);
    }

    &__content section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right-column {
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    &--blue {
        --_color: var(--col-call360-blue);
    }
    &--pink {
        --_color: var(--col-talent-pink);
    }

    h3 {
        color: var(--_color);
        font-size: var(--fs-h3);
    }
    li {
        color: var(--_color);
        font-size: var(--fs-hero-intro);
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 1rem;
    }
}