.has-light-blue-background-color {
    background-color: var(--col-light-blue) !important;
}
.has-light-green-background-color {
    background-color: var(--col-light-green) !important;
}
.has-sky-blue-background-color {
    background-color: var(--col-sky-blue) !important;
}


.has-background-blue-color {
    color: var(--col-background-blue) !important;
}
.has-background-blue-background-color {
    background-color: var(--col-background-blue) !important;
}

.has-main-blue-color {
    color: var(--col-main-blue) !important;
}
.has-main-blue-background-color {
    background-color: var(--col-main-blue) !important;
}

.has-off-white-color {
    color: var(--col-off-white) !important;
}
.has-off-white-background-color {
    background-color: var(--col-off-white) !important;
}

.has-mid-grey-color {
    color: var(--col-mid-grey) !important;
}
.has-mid-grey-background-color {
    background-color: var(--col-mid-grey) !important;
}

.has-dark-grey-color {
    color: var(--col-dark-grey) !important;
}
.has-dark-grey-background-color {
    background-color: var(--col-dark-grey) !important;
}

.has-highlight-green-color {
    color: var(--col-highlight-green) !important;
}
.has-highlight-green-background-color {
    background-color: var(--col-highlight-green) !important;
}

.has-talenttrack-pink-color,
.has-talent-pink-color {
    color: var(--col-talent-pink) !important;
}
.has-talent-pink-background-color {
    background-color: var(--col-talent-pink) !important;
}

.has-call360-blue-color {
    color: var(--col-call360-blue) !important;
}
.has-call360-blue-background-color {
    background-color: var(--col-call360-blue) !important;
}


