.single_ebook__cover-image {
	max-width: 220px;
	width: 100%;
	height: auto;
	display: inline-block;
}
img.ft-ebook {
	max-width: 240px;
    margin: auto;
    display: block;
}
.ebook__image {
	aspect-ratio: 2 / 3;
	width: 100%;
	max-width: 180px!important;
	height: auto;
	object-fit: cover;
	display: block;
	margin-inline: auto;
}