.single_integration {
	/*margin-top: calc( var(--h-top) + 1rem);*/
	&__hero {
		padding: 4rem 0;
		color: #fff;
		text-align: center;
	}

	&__hero-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 280px;
	}

	&__logo {
		margin-bottom: 2rem;
	}

	&__logo-image {
		display: block;
		max-width: 350px;
		width: auto;
		height: auto;
		object-fit: contain;
	}
	.single_integration_content .wp-block-heading, 
	.single_integration_content p, 
	.single_integration_content .wp-block-list {
		margin-bottom: 2rem;
	}
	.single_integration_content .wp-block-list li {
		margin-bottom: 1rem;
	}

	&__title {
		margin-bottom: 4rem;
	}
}
